// @primary-color: #3498db;
// @secondary-color: #e74c3c;

.short-wd-summary {
	// show-hide container
	details {
		margin: 1em 0;
		border: 1px solid #ccc;
		padding: 0.5em;
		background: #f9f9f9;
	}
	summary {
		cursor: pointer;
		a {
			display: block;
			filter: grayscale();
			float: right;
			padding: .4em .6em;
			margin-top: -.4em;
			margin-right: -.6em;

			&:hover {
				filter: none;
				text-decoration: none;
			}
		}
	}
	// main img
	.sum-img {
		float: right;
		padding: 0 0 .5em .5em;
	}
	// list of props
	ul {
		list-style: disc;
		padding-left: 1.5em;
		margin: 0;
		margin-top: .5em;
	}
	li {
		margin: 0.2em 0;
	}
}

// fix WD GUI
.wikibase-entityview-main .wikibase-edittoolbar-container {
	height: min-content;
}
